/* ## Bring in all Compass Helpers */ 
@import "partials/base";

/* ## Core variables and mixins */
@import "project/variables";
@import "partials/mixins";
@import "partials/layout";
// @import "partials/upstatement"; 
 
/* ## Base CSS */
// @import "partials/type";
// @import "partials/forms";
// @import "partials/tables";
// @import "partials/lists";

/* ## Components */
// @import "partials/dropdowns";
// @import "partials/buttons";
// @import "partials/tabs";
// @import "partials/modals";
// @import "partials/tooltips";


  
/* ============================================= */
/*	Universal						   			 */ 
/* ============================================= */

a 		{ 	text-decoration: none; color: inherit; }
strong	{	font-weight: bold;	}
em   	{	font-style: italic;	}


 







/* ============================================= */
/*	Print Styles							     
	Inline to avoid required HTTP connection     */
/* ============================================= */

// Import Print Styles
@import "partials/print";



